.sieuam-form-input-label {
    width: 80px;
}

.indexSieuAm  .check{
    padding-right: 20px;
}

.indexSieuAm .ant-select-single {
    font-size: 14px;
    height: 20px;
}
.indexSieuAm .ant-select-arrow {
    top: 50% !important;
}
.indexSieuAm .row-height-tex{
    height: 48px;
}
.indexSieuAm .row-height-1{
    height: 33px;
}
.indexSieuAm .ant-form-item .ant-form-item-label >label{
    height: auto !important;
    margin-top: 8px;
}
