.modal-input-label {
    width: 70px;
}
.ant-modal.LapPhieuTheoDoiDieuTri{
    max-width: 100% !important;
}

.LapPhieuTheoDoiDieuTri .ant-modal-header{ 
    background: #e8e8e8 !important;
    padding: 5px 10px;
    height: auto !important;
}
.LapPhieuTheoDoiDieuTri  .ant-modal-title{
    width: 100%;
}
.LapPhieuTheoDoiDieuTri  .btn-header{
    float: right;
}
.LapPhieuTheoDoiDieuTri  .title-header{
    float: left;
}

