.btn-nhapkho {
    position: relative;
}

.btn-pos {
    position: absolute;
    right: 0;
    top: -30px;
}

.btn-pos button {
    float: left;
}

.btn-pos .form-btn {
    padding: 10px 10px !important;
}
.title-nhapkho{
    font-size: 14px;
    font-weight: bold;
    padding: 10px 10px;
}
.tt-nhapkho{
    background: #f5f5f5;
    padding-top: 10px;
    padding-left: 10px;
}
.tt-nhapkho .lablename-nhapkho {
    font-size: 12px;
    float: left;
    width: 40%;
    text-align: right;
    padding-right: 5px;
}

.tt-nhapkho .txtinput {
    font-size: 12px;
    float: left;
    width: 60%;
}

.tt-nhapkho .lablename-nhapkho.nggiao {
    width: 20%;
}

.tt-nhapkho .txtinput.nggiao {
    width: 80%;
}

.tt-nhapkho .lablename-nhapkho.ghichu {
    width: 15%;
}

.tt-nhapkho .txtinput.ghichu {
    width: 85%;
}


.tt-nhapkho .row>* {
    padding: 0px 1px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.tt-nhapkho .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.row-m {
    margin-top: 5px !important;
    margin-bottom: 5px;
}
.check-row div{
    float: left;
    padding-right: 6px;
}