.cemaraSieuAm .ant-modal-header{ 
    background: #e8e8e8 !important;
    padding: 5px 10px;
    height: auto !important;
}
.cemaraSieuAm  .ant-modal-title{
    width: 100%;
}
.cemaraSieuAm  .btn-header{
    float: right;
}
.cemaraSieuAm  .title-header{
    float: left;
}
.cemaraSieuAm .ant-select-single {
    font-size: 14px;
    height: 20px;
}
.cemaraSieuAm .ant-select-arrow {
    top: 50% !important;
}
.cemaraSieuAm .row-height-1{
    height: 33px !important;
}
.cemaraSieuAm .ant-form-item .ant-form-item-label >label{
    height: auto !important;
    margin-top: 8px;
}
.cemaraSieuAm .chidinh{
    margin-top: 2px;
}
.cemaraSieuAm .row-height-tex{
    height: 45px !important;
}