.BienBanTuVong .ant-modal-header{ 
    background: #e8e8e8 !important;
    padding: 5px 10px;
    height: auto !important;
}
.BienBanTuVong  .ant-modal-title{
    width: 100%;
}
.BienBanTuVong  .btn-header{
    float: right;
}
.BienBanTuVong  .title-header{
    float: left;
}
.BienBanTuVong .form-row-textarea{
    height: 33px !important;
    margin-top: 9px !important;
}
