.modal-input-label-ytađieuuong {
    width: 100px;
}
.ant-modal.LapPhieuChamSoc{
    max-width: 100% !important;
}

.LapPhieuChamSoc .ant-modal-header{ 
    background: #e8e8e8 !important;
    padding: 5px 10px;
    height: auto !important;
}
.LapPhieuChamSoc  .ant-modal-title{
    width: 100%;
}
.LapPhieuChamSoc  .btn-header{
    float: right;
}
.LapPhieuChamSoc  .title-header{
    float: left;
}
