.modefileghinhanhoso .ant-modal-header{ 
    background: #e8e8e8 !important;
    padding: 5px 10px;
    height: auto !important;
}
.modefileghinhanhoso .ant-modal-title{
    width: 100%;
}
.modefileghinhanhoso .btn-header{
    float: right;
}
.modefileghinhanhoso .title-header{
    float: left;
}
.modefileghinhanhoso .form-row-textarea{
    height: 33px !important;
    margin-top: 9px !important;
}
.fileghinhanhoso{
    width: 50%;
    margin: 0 auto;
}
.fileghinhanhoso ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
    width: 100%;
}
.fileghinhanhoso ul li{
   float: left;
   width: 50%;
}
.fileghinhanhoso ul.title li{
    font-weight: bold;
    text-align: center;
 }